@font-face {
  font-family: 'MontRegular';
  src: url('./Mont/Mont-Regular.otf');
}

.max{
  max-width: 1920px;
  width: 100%;
}

body {
  background-color: #151516;
  color: #f5f5f5;
}

span {
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top p{
color: #626262;
}
.colone {
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;
}
.style h1,p{
margin: 0;
}
.style{
margin-bottom: 29px;
margin-top: 40px;
}
.idk {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box1 {
  background: linear-gradient(342.29deg, rgba(86, 58, 255, 0.35) 0%, rgba(128, 128, 128, 0.0735) 100%);
  width: 60%;
  height: 267px;
  margin-right: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.box1 img{
position: relative;
width: 100%;
}
.group1{
margin-top: 16px;
margin-bottom: 8px;
}
.group2{
margin-top: 16px;
margin-bottom: 8px;
}
.group3{
margin-top: 16px;
margin-bottom: 8px;
}
.group2 p{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
margin: 0;
}
.group3 p{
color: rgba(255, 255, 255, 0.5);
font-size: 14px;
margin: 0;
}
.groupv1{
display: flex;
flex-direction: column;
}
.box1 p{
font-size: 16px;
margin-left: 20px;
}
.box1 h1{
  margin: 0;
  margin-left: 20px;
  font-size: 24px;
}

.box2 {
  background: linear-gradient(342.29deg, rgba(86, 58, 255, 0.35) 0%, rgba(128, 128, 128, 0.0735) 100%);;
  width: 70%;
  height: 267px;
  border-radius: 10px;
  margin-right: 32px;
}
.box2 p{
margin-left: 32px;
margin-top: 16px;
font-size: 14px;
}
.groupe1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.groupe2 {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 100%;
}
.box3 {
  background: linear-gradient(342.29deg, rgba(86, 58, 255, 0.35) 0%, rgba(128, 128, 128, 0.0735) 100%);
  backdrop-filter: blur(30px);
  width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-right: 32px;
}
.box4{
  background: rgba(100, 115, 254, 0.12);
  backdrop-filter: blur(30px);
  width: 30%;
  height: 400px;
  border-radius: 10px;
  margin-left: 24px;
}

table {
border-collapse: collapse;
min-width: 100%;
margin-left: 20px;
}
table td{
text-align: center;
padding-bottom: 15px;
}
table th{
padding-bottom: 30px;
}

.select1 {
  background-color: #1E1E1E;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.select2 {
  background-color: #1E1E1E;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 8px;
}


.gauche {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(86, 58, 255, 0.1) 100%);
  border-radius: 10px;
  margin-right: 52px;
  width: 150px;
  display: flex;
  padding-top: 24px;
}

.chain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 72px;
  margin-top: 20px;
}
.chain p{
font-size: 14px;
font-weight: bold;
}
.gauche {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligner les éléments sur la gauche */
  justify-content: space-between;
  border-radius: 10px;
  margin-right: 52px;
  width: 150px;
  border:1px solid rgba(86, 58, 255, 0.56);
  height: 930px;
}
.menu{
display: flex;
flex-direction: column;
width:100%;
align-items: center;
height: 100%;
justify-content: space-between;
}
.menuv1{
display: flex;
flex-direction: column;
align-items: start;
width: 80%;
border: 1px solid transparent;
margin-bottom: 250px;
}
.menu2{
display: flex;
flex-direction: column;
padding-bottom: 25px;
border-bottom: 1px solid rgba(86, 58, 255, 0.56);
width: 80%;
align-items: flex-start;
}
.menu button{
border: none;
margin-bottom: 10px;
padding: 0;
height: 31px;
width: 108px;
background: transparent;
color: white;
font-size: 14px;
align-items: center;
display: flex;
}
.menu i{
margin-right: 15px;
}
.menu2 img{
margin-right: 10px;
}

.menufooter{
display: flex;
flex-direction: column;
width:100%;
align-items: center;
}
.menufooter button{
background: rgba(255,255,255,0);
border: none;
margin-bottom: 10px;
padding: 0;
height: 30px;
color: white;
}
.menufooter img{
margin-right: 15px;
}
.menufooter button:hover{
background: rgba(86, 58, 255, 0.2);
border: 1px solid #563AFF;
border-radius: 3px;
}
.menu2 button:hover{
background: rgba(86, 58, 255, 0.2);
border: 1px solid #563AFF;
border-radius: 3px;
}
.formulaire_1{
background-color: rgba(86, 58, 255, 0.1) ;
border-bottom: 2px solid #563AFF;
border-top: 2px solid #563AFF;
border-right: 2px solid #563AFF;
border-left: 0;
border-radius: 0 5px 5px 0;
height: 31px;
width: 250px;
color: white;
}
.formulaire_1::placeholder{
color: white;
}
.loupe{
display: flex;
background-color:rgba(86, 58, 255, 0.1) ;
border-bottom: 2px solid #563AFF;
border-top:2px solid #563AFF;
border-left:2px solid #563AFF;
width: 30px;
height: 33px;
border-radius: 10px 0px 0px 10px;
align-items: center;
justify-content: center;
}
.notif{
display: flex;
align-items: center;
justify-content: center;
margin-left: 10px;
}
.input{
display: flex;
margin-right: 20px;
}
.gauche h1{
font-size: 14px;
}



.button1{
display: flex;
flex-direction: row;
justify-content: center;
margin: auto;
background: linear-gradient(342.29deg, rgba(100, 115, 254, 0.35) 0%, rgba(128, 128, 128, 0.0735) 100%);
border-radius: 23.4286px;
width: 70%;
}
.button1 button{
margin: 8px;
}
.BRC:hover {
background: rgba(253, 94, 83, 0.3);
width: 80%;
border: 1px solid #FD5E53; 
align-items: center;
display: flex;
justify-content: center;
height: 31px;
border-radius: 3px;
}
.LTC:hover {
background: rgba(0, 108, 255, 0.3);
width: 80%;
border: 1px solid #006CFF;
align-items: center;
display: flex;
justify-content: center;
height: 31px;
border-radius: 3px;
}
.DRC:hover {
background: rgba(248, 240, 96, 0.3);
width: 80%;
border: 1px solid #F8F060;
align-items: center;
display: flex;
justify-content: center;
height: 31px;
border-radius: 3px;
}

.topv1{
display: flex;
flex-wrap: wrap;
margin-top: 16px;
margin-bottom: 38px;
margin-left: 32px;
width:120px;
}
.topv1 button{
width: min-content;
height: 26px;
background: transparent;
color: white;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
margin-right: 8px;
}
.topv1 button:hover{
  background: rgba(86, 58, 255, 0.2);
  border: 1px solid #563AFF;
}
.topv1 p{
margin-bottom: 20px;
}
.nft{
display: flex;
flex-wrap: wrap;
margin-left: 32px;
}
.nft img{
width: 100%;
border-radius: 6px;
object-fit: cover;

}
.nft .box{
width: 100px;
height: 100px;
margin-left: 32px;
transition: transform 1s ease;
}
.nft .box:hover{
  background: #151516;
  transform: scale(1.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 23px;
  border-radius: 6px;
}
.nft .text_8 {
display: flex;
flex-direction: row;
font-size: 10px;
justify-content: space-around;
align-items: center;
}
.nft .text_8 button{
background: transparent;
border: 1px solid transparent;
color: white;
font-size: 10px;
}
.nft .text_8 button:hover{
  background: rgba(86, 58, 255, 0.2);
  border: 1px solid #563AFF;
  border-radius: 4px;
}

.desc,.buton{
display: none;
}

.box:hover .desc,.box:hover .buton{
display: block;
}

.top span{
color: #563AFF;
}
